extends index.pug

block activenavigation
  li.nav-item
    a.nav-link(href='/') 
      | Blog
  li.nav-item.active
    a.nav-link(href='About') 
      | About
      span.sr-only (current)
  li.nav-item
    a.nav-link(href='Contact') 
      | Contact
  li.nav-item
    a.nav-link(href='Media')
      | Media
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Works
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='#') Plays
      a.dropdown-item(href='#') Publishings
      a.dropdown-item(href='#') Books
      .dropdown-divider
      a.dropdown-item(href='Archive') Archive
  li.nav-item
    a.nav-link.disabled(href='#') Disabled

block content
  .alert.alert-primary(role='alert')
    | A simple primary alert—check it out!
  .container
    .row
      .col-9
        .card
          .card-body
            h5.card-title  This is a wild Cherry
            .text-center
              img.img-fluid.rounded(src='images/cher_prof.jpg', style='width: 20%', alt="Cherry's Profile Picture")
            p.card-text
              | Cherry emigrated from the Philippines with her family at the tender age of 11. Since then, she's seen hundreds of plays. 
              br
              | She also cooks the good thing.
        .card
          .card-body
            h5.card-title  Cherry as an Actress 
            p.card-text  She say the good thing 
        .card
          .card-body
            h5.card-title  Cherry as a Playwright 
            p.card-text  She write the good thing 
        .card
          .card-body
            h5.card-title  Cherry as an Educator 
            p.card-text  She teach the good thing 
      // end of Left Column
      .col-3
        .card
          #calendar(style='overflow-x:auto;')
            #calendar-header
              span#calendar-mo-yr
            #calendar-dates.container-fluid
        .card
          .card-body
            h5.card-title  This is a test Title for Side Column 
            p.card-text  Contact cherry here! Subscribe to know of more events and readings 
          // Make into Follow RSS Feed? Or shared/interesting articles by others space
        .card
          .card-body
            h5.card-title  This is a test Title for Side Column 
            p.card-text  Contact cherry here! Subscribe to know of more events and readings 
      // end of Right Column