extends index

block activenavigation
  li.nav-item
    a.nav-link(href='/') 
      | Blog
  li.nav-item
    a.nav-link(href='About') 
      | About
  li.nav-item.active
    a.nav-link(href='Contact') 
      | Contact
      span.sr-only (current)
  li.nav-item
    a.nav-link(href='Media')
      | Media
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Works
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='#') Plays
      a.dropdown-item(href='#') Publishings
      a.dropdown-item(href='#') Books
      .dropdown-divider
      a.dropdown-item(href='Archive') Archive
  li.nav-item
    a.nav-link.disabled(href='#') Disabled

block content
  h1#contact Contact
  .container
    .row
      .col-9
        .list-group
          a.list-group-item.list-group-item-action(href='#') E-Mail: CherryLouSy@cherrylou.com
          a.list-group-item.list-group-item-action(href='#') Number: 123-345-5678
          a.list-group-item.list-group-item-action(href='#') Twitter:
          a.list-group-item.list-group-item-action(href='#') Facebook:
          a.list-group-item.list-group-item-action(href='#') Instagram:
      // end of Left Column
      .col-3
        .card
          #calendar(style='overflow-x:auto;')
            #calendar-header
              span#calendar-mo-yr
            #calendar-dates.container-fluid
        .card
          .card-body
            h5.card-title  This is a test Title for Side Column 
            p.card-text  Contact cherry here! Subscribe to know of more events and readings 
          // Make into Follow RSS Feed? Or shared/interesting articles by others space
        .card
          .card-body
            h5.card-title  This is a test Title for Side Column 
            p.card-text  Contact cherry here! Subscribe to know of more events and readings 
      // end of Right Column
