extends index

block activenavigation
  li.nav-item
    a.nav-link(href='/') 
      | Blog
  li.nav-item
    a.nav-link(href='About') 
      | About
  li.nav-item
    a.nav-link(href='Contact') 
      | Contact
  li.nav-item.active
    a.nav-link(href='Media')
      | Media
      span.sr-only (current)
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Works
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='#') Plays
      a.dropdown-item(href='#') Publishings
      a.dropdown-item(href='#') Books
      .dropdown-divider
      a.dropdown-item(href='Archive') Archive
  li.nav-item
    a.nav-link.disabled(href='#') Disabled

block content
  .alert.alert-primary(role='alert')
      | A simple primary alert—check it out!
  .container
    .row
        // Make 3-4 Columns of thumbnails. Label each as film, play teaser, photo or misc