doctype html
// Save all videos into video/media folder and post all of them in here
html(lang='en')
  head
    title  Cherry Lou Sy 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='stylesheets/main.css', type='text/css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
  header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      h1.text-hide(style="background-image: url('images/icon_placeholder.svg'); width: 32px; height: 32px;margin-top: 6px;margin-right:10px;") Cherry Lou Sy
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Blog
          li.nav-item
            a.nav-link(href='About') About
          li.nav-item
            a.nav-link(href='Contact') Contact
          li.nav-item.active
            a.nav-link(href='Media')
              | Media
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='Contact') Archive
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Works
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Plays
              a.dropdown-item(href='#') Articles
              a.dropdown-item(href='#') Books
              .dropdown-divider
              a.dropdown-item(href='#') Articles
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
  body
    .alert.alert-primary(role='alert')
      | A simple primary alert—check it out!
    .container
      .row
        // Make 3-4 Columns of thumbnails. Label each as film, play teaser, photo or misc
        // Have a sort by dropdown/latest of each label.
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
  footer
    small.text-muted
      | Brand Icons provided by 
      a(target='_blank', href='https://www.vecteezy.com') www.Vecteezy.com
      br
      | 	©2018 Cherry Lou Sy.
  // Website Created by Michael Sy.
  script(src='scripts/main.js')
