body {
	font-family: arial;
	margin: 10% 0px;
}

body .card {
	margin: 0% 0% 2% 0%;
}




header {
	height: ;
	padding: 5px 0 10px 10px;
}
li.active {
	border-bottom:5px solid #e5202d;
}
header h1 {
}

footer {
	clear: both;
	
}

footer div{
	margin: 0;
	width:100%;
	text-align:center;
	

}
.contact
{
	color: orange;
	padding: 10px .5%;
	text-align: center;
}

#calendar{
	padding: 10px;
	text-align: center;
	border-radius : 5px;
	border: 1px solid #e5202d;
	background-image: linear-gradient(#d3d6cf, #9a9b99);
}

#calendar-mo-yr {

}

#calendar-dates
{
	
}